@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

*{
    margin:0em;
    padding: 0em;
    font-size: 1em;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    height: 100vh;
    /* background-color: rgba(33, 122, 173, 0.733); */
    background-image: radial-gradient( circle 465px at -15.1% -25%,  rgba(17,130,193,1) 0%, rgba(67,166,238,1) 49%, rgba(126,203,244,1) 90.2% );
}

form{
    border: none;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 22%;
    align-items: center;
    /* box-shadow: 3px 3px 5px 6px rgb(26, 25, 25); */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); 
    padding: 2rem;
    /* background-color: rgb(255, 255, 255); */
    background-color: rgba(208, 229, 243, 0.884);
    
}
@keyframes ayush {
  0% {color:magenta; text-shadow:0 0 10px magenta;}
  10% {color:purple; text-shadow:0 0 10px purple;}
  20% {color:blue; text-shadow:0 0 10px blue;}
  30% {color:aqua; text-shadow:0 0 10px aqua;}
  40% {color:#0dfc91; text-shadow:0 0 10px #0dfc91;}
  50% {color:#11fc0d; text-shadow:0 0 10px #11fc0d;}
  60% {color:#99fc0d; text-shadow:0 0 10px #99fc0d;}
  70% {color:#e8fc0d; text-shadow:0 0 10px #e8fc0d;}
  80% {color:#fcd40d; text-shadow:0 0 10px #fcd40d;}
  90% {color:#fca90d; text-shadow:0 0 10px #fca90d;}
  100% {color:red; text-shadow:0 0 10px red;}

}
#bla {
  text-align:center;
  color:magenta;
  font-size:12px;
  animation-name:ayush;
  animation-duration:5s;
  animation-iteration-count:infinite;
}
h1{
    font-size: 1.25em;
    padding: 0.5rem 1.9rem;    
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(24, 24, 24, 0.2);
    background-color: rgba(32, 105, 189, 0.836);
    color: white;
    
    

}
.data{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
input{
    
    font-family: 'Quicksand', sans-serif;
    width: 16rem;
    font-size:1em;
    padding: 0.3rem;
    border:none;
    border-bottom: 2px solid rgb(19, 113, 221);
    background-color: rgba(208, 229, 243, 0.884);
    outline: none;
}
.btn{
    width: 40%;
    margin-top:0.2rem;
    padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    border:none;
    color: white;
    background-color:rgba(32, 105, 189, 0.836) ;
    cursor: pointer;
}
label{
    align-self: center;
    font-size: 1em;
    text-align: center;    
    width: 4rem;
    padding: 0.3rem 0.6rem;
    /* box-shadow: 0 8px 16px 0 rgba(24, 24, 24, 0.2); */
    background-color: rgba(40, 141, 209, 0.836);
    color: white;
    border-radius: 18px;
    margin-bottom: 0.5rem;
}
/* seperate styles for the profile that is shown after data demand */

.profile{
    
    padding: 2rem 4rem;
    background-color: rgba(255, 255, 255, 0.829);
    box-shadow: 0 8px 16px 0 rgba(24, 24, 24, 0.2);
    
}
.profile h2{
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 1.7rem;
    background-color: rgba(0, 102, 255, 0.877);
    color: white;
    padding: 0.4rem 2rem;
    border-radius: 10px;
}
.profile ul{
    text-decoration: none;
    list-style: none;
}

.profile ul li{
    
    padding: 0.7rem 1.8rem;
    font-size: 1.1em;
    margin-bottom: 1.5rem;
    box-shadow: 0 8px 16px 0 rgba(24, 24, 24, 0.2);
    background-color: rgba(32, 105, 189, 0.836);
    color: white;
}

.profile a{
    
    text-decoration: none;
    padding: 0.5rem 1rem ;
    margin: 4.7rem;
    background-color: rgba(0, 102, 255, 0.877);
    color: white;
}

.profile a:hover{
    background-color: white;
    border: 2px solid rgba(0, 102, 255, 0.877);
    color: rgba(0, 102, 255, 0.877);
}

@media only screen and (max-width:500px){
    html{
        font-size: 1em;
    }
    form{
        width: 70%;
    }
    .profile{
        padding: 2rem 2.2rem;
    }
    h1{
        font-size: 1.2em;
    }
    label{
        font-size:1em;
    }
    
    
}

@media only screen and (max-width:400px){
    html{
        font-size: 0.9em;
    }
    
    
}
